:root {
    --white: #fff;
    --black: #000;
    --main-color: #a6b3b4;
    --secondary-color: #d9d7d8;
    --accent-color-a: #cfdcee;
    --accent-color-b: #9aa3b1;


    --page-background-color: #fff;
  }
  