:root {
    --white: #fff;
    --black: #000;
    --main-color: #889293;
    --secondary-color: #d9d7d8;
    --accent-color-a: #a8c6f4;
    --accent-color-b: #5c9af6;


    --page-background-color: #fff;
  }
  